/* CSS untuk tombol pop-up */
.popup-button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

/* CSS untuk video pop-up pada layar kecil */
@media screen and (max-width: 768px) {
  #popup-video {
    width: 100%;
    height: auto;
  }
}

/* CSS untuk tombol next dan previous */
.next-button, .prev-button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.video {
  width: 100%;
  height: auto;
  transition: transform 0.3s;
}

.landscape {
  transform: none !important;
}

.portrait {
  transform: rotate(90deg) !important;
}
